@font-face {
	font-family: "Linux Libertine";
	src: url("/fonts/LinLibertine_Rah.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Linux Libertine";
	src: url("/fonts/LinLibertine_RIah.ttf") format("truetype");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Linux Libertine";
	src: url("/fonts/LinLibertine_RBah.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Linux Libertine";
	src: url("/fonts/LinLibertine_RBIah.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "Linux Libertine";
	src: url("/fonts/LinLibertine_Mah.ttf") format("truetype");
	font-weight: normal;
	font-style: monospace;
}

body {
	font-family: "Linux Libertine";
}

main {
	display: block;
	font-size: 1.5em;
	line-height: 1.5;
	margin: 0 auto 0 auto;
	max-width: 50%;
	overflow-wrap: break-word;
	text-align: justify;
}

h1 {
	font-size: 3em;
	font-variant: small-caps;
	text-align: center;
	text-decoration: underline;
}

blockquote {
	border-left: 0.2em solid #000;
	padding-left: 1em;
	position: relative;
}

pre {
	margin-left: 4em;
}

a {
	color: DarkSlateBlue;
}
